body{
    background-image: url(/images/background2.jpg);
    background-size: cover;
}

.nav-container{
    background-color:green;
}

.nav-container a{
    text-decoration: none;
    color: white;
    font-weight: bolder;
}

.nav-container a:hover{
     background-color: olivedrab; 
}

.artist-collection, .album-collection{
    list-style: none;
}